# Compiled Java files
*.class

# Node modules (VERY IMPORTANT)
node_modules/
sparc-frontend/node_modules/
backend/node_modules/

# Environment files
.env

# VS Code settings
.vscode/

# OS junk
.DS_Store
Thumbs.db
sparc-frontend/node_modules/
sparc-backend/node_modules/